    <h1><%= link_to "TestGuru", root_path %></h1>
    <% if user_signed_in? %>
      <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru | 
        <%= link_to 'Logout', destroy_user_session_path,
                              method: :delete,
                              data: { confirm: 'Вы уверены?' } %>
      </p>

    <% else %>
      <p class="nav user">
        <%= link_to 'Login', new_user_session_path %> | 
        <%= link_to 'Signup', new_user_registration_path %>
      </p>
    <% end %>
