<h1><%= t('.header') %></h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-light">
    <th>Id</th>
    <th><%= t(".title") %></th>
    <th><%= t(".level") %></th>
    <th><%= t(".questions") %></th>
    <th colspan=3><%= t(".actions") %></th>
  </thead>
  
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<button type="button" class="btn btn-outline-secondary">
  <%= link_to t("links.new_test"), new_admin_test_path %>
</button>