<h1><%= t('tests.index.header')%></h1>
       
<table class="table table-striped table-hover table-bordered">
  <thead class="table-light">
    <th>Id</th>
    <th><%= t(".title") %></th>
    <th><%= t(".level") %></th>
    <th><%= t(".questions") %></th>
    <th><%= t(".actions") %></th>
  </thead>
 
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

